@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    background-image: url("../img/fundo.jpg");
    width: 100%;
    height: 100vh;
    align-items: center;
    padding-top: 10;
    background-size: cover;
}

.indice {
    text-align: center;
    padding-bottom: 50;
}

.logodc {
    height: 80px;
    margin-top: 20px;
}

.box {
    width: 350px;
    height: 610px;
    background-color: #1e1e26;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0,5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
    padding-top: 10px;
}

.model {
    height: 350px;
    max-height: 100%;
    max-width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.details p {
    font-family: Calibri;
    font-size: 15px;
    font-weight: bold;
    color: #6a6a74;
    text-align: justify;
    padding-bottom: 30px;
}

.dcsuperman {
    color: #32323e;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.box:hover .dcsuperman {
    color: #a4152c;
    text-shadow: 0 0 6px #010326;
    transition: all ease 0.5s;
}

.details .logosuperman {
    width: 60px;
}

.dcbatman {
    color: #32323e;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.box:hover .dcbatman {
    color: #888c99;
    text-shadow: 0 0 6px #010326;
    transition: all ease 0.5s;
}

.details .logobatman {
    width: 70px;
}

.dcwonder {
    color: #32323e;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.box:hover .dcwonder {
    color: #A6874E;
    transition: all ease 0.5s;
}

.dclanterna {
    color: #32323e;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.box:hover .dclanterna {
    color: #1F8C26;
    transition: all ease 0.5s;
}

.details .logolanterna {
    width: 120px;
}

.dcaquaman {
    color: #32323e;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.box:hover .dcaquaman {
    color: #A6A056;
    text-shadow: 0 0 6px #010326;
    transition: all ease 0.5s;
}

.details .logoaqua {
    width: 70px;
    padding-top: 10px;
}

.dcflash {
    color: #32323e;
    font-weight: bold;
    letter-spacing: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.box:hover .dcflash {
    color: #F2A30F;
    text-shadow: 0 0 6px #010326;
    transition: all ease 0.5s;
}


.details .logoflash {
    width: 70px;
}

.box:hover {
    background-color: #17171d;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}

/*-- responsive for mobile fone --*/
@media(max-width:720px){
    
    .item-a{
        justify-content: center;
        margin-left: 35px;
    }

    .box{
        width: 94%;
        height: 600px;
    }
    .model{
        height: 250px;
    }
    .details p{
        font-size: 15px;
        text-align: justify;
        justify-content: center;
        width: 260px;
    }
}